@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
    line-height: 1.6;
    color: #000000;
    background-color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-size: 18px;
}

h1, h2, h3, h4 {
    color: #ff1493;
    text-shadow: 2px 2px #00ffff;
}

.tab {
    overflow: hidden;
    border: 2px solid #ff69b4;
    background-color: #fff0f5;
    display: flex;
    flex-wrap: wrap;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'VT323', monospace;
    font-size: 18px;
    flex-grow: 1;
}

.tab button:hover {
    background-color: #ffb6c1;
}

.tab button.active {
    background-color: #ff69b4;
    color: white;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 2px solid #ff69b4;
    border-top: none;
}

.chart-container {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    background-color: #fff0f5;
    border: 2px solid #ff69b4;
    border-radius: 5px;
}

.league-roster-container, .team-roster-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff0f5;
    border: 2px solid #ff69b4;
    border-radius: 5px;
}

.roster-header, .team-roster-header {
    margin-bottom: 20px;
}

.dropdown-container {
    width: 100%;
    max-width: 300px;
}

#leagueTeamSelect, #cyclingTeamSelect {
    width: 100%;
    padding: 10px;
    font-family: 'VT323', monospace;
    font-size: 16px;
    background-color: #ffffff;
    border: 2px solid #ff1493;
    border-radius: 5px;
    color: #ff1493;
}
#cyclingTeamSelect {
    width: 30%;
}
#leagueTeamRosterChart, #cyclingTeamRosterDisplay {
    margin-top: 20px;
}

.rider-card {
    background-color: #ffffff;
    border: 1px solid #ff1493;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.rider-card h4 {
    margin-top: 0;
    color: #ff1493;
}

.rider-card p {
    margin: 5px 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .tab button {
        flex-basis: 50%;
    }

    .chart-container {
        height: 300px;
    }

    .dropdown-container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .tab button {
        flex-basis: 100%;
    }

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }
}

.balanced-team-box {
    margin-top: 20px;
    padding: 15px;
    background-color: #f0f8ff;
    border: 2px solid #4682b4;
    border-radius: 5px;
}

.balanced-team-box h3 {
    color: #4682b4;
    margin-top: 0;
}

.balanced-team-box h4 {
    color: #ff1493;
    margin-bottom: 5px;
}

.balanced-team-box ul {
    list-style-type: none;
    padding-left: 0;
}

.balanced-team-box li {
    margin-bottom: 5px;
}
